<div class="jumbotron">

    <div id="greeting">
        <h1 class="text-center">Welcome to</h1>
        <h1 class="text-center">E-Learning System</h1>
    </div>

    <div id="signup-btn">
        <%= link_to "Sign up", signup_path , class: "btn btn-primary center-block" %>
    </div>

</div>

