<li class="users-avatar">
    <% if user.picture? %>
        <%= image_tag user.picture.url %>
    <% else %>
        <img src="/user_default_picture/default_image.png">
    <% end %>
        <%= link_to user.name, user_path(user) %>
</li>


<!-- index.htmlの render @usersがここのファイルを参照し、each doを行なっている -->