<header>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <%= link_to "E-Learning System", root_path, class: "navbar-brand" %>
             <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Login", "#" %></li>
             </ul>
        </div>
    </nav>
</header>
